{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/panier.css') }}">
{% endblock %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="product-list">
        {% for item in cartItems %}
            <div class="product-item">
                {% if item.product.imageFilename %}
                    <img src="{{ asset('images-produits/' ~ item.product.imageFilename) }}" alt="{{ item.product.name }}">
                {% else %}
                    <p>Aucune image disponible</p>
                {% endif %}                
                <h3>{{ item.product.name }}</h3>
                <p>Prix : {{ item.product.price }} €</p> 
                <p>Taille : {{ item.size }}</p>                    
                <a href="{{ path('cart_remove_item', {'id': item.id}) }}" class="btn-remove">Retirer du panier</a>
            </div>
        {% else %}
            <p>Votre panier est vide.</p>
        {% endfor %}
        
        <div class="total-container">
            <p class="total-box">Total : {{ total }} €</p> 
            <button class="button-finalize btn btn-success">Finaliser l'achat</button>
            <a href="{{ path('shop_products') }}" class="btn btn-continue">Continuer mes achats</a>
        </div>
        
    </div>
{% endblock %}
