{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Stubborn{% endblock %}

{% block body %}
    <div class="text-center mb-3 presentation">
        <h1>Stubborn, qui sommes-nous ?</h1>
        <h2>Bienvenue chez Stubborn</h2>
        <p>Chez Stubborn, nous redéfinissons le style streetwear avec nos pulls de haute qualité, alliant confort et esthétique urbaine. 
            Fondée par des passionnés de mode, notre marque s'engage à offrir des designs audacieux qui reflètent votre individualité.</p>
        <p>Nous croyons en une mode responsable, c'est pourquoi nous utilisons des matériaux durables et travaillons avec des fabricants éthiques. 
            Explorez notre collection pour découvrir des pièces uniques qui vous feront vous démarquer.</p>
        <p>Rejoignez notre communauté et montrez au monde qui vous êtes vraiment avec Stubborn !</p>
    </div>    
        <div class="container mt-4">
        {% if featuredProducts is not empty %}
            <h2 class="text-center">Nos produits les plus demandés</h2>
            <div class="row">
                {% for product in featuredProducts %}
                    <div class="col-md-4 mb-4"> 
                        <div class="card h-100"> 
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <div class="product-image">
                                        {% if product.imageFilename %}
                                            <img src="{{ asset('images-produits/' ~ product.imageFilename) }}" alt="{{ product.name }}" class="img-fluid">
                                        {% else %}
                                            <p>Aucune image disponible</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center"> 
                                    <div>
                                        <h5 class="product-name">{{ product.name }}</h5>
                                        <p class="product-price">{{ product.price }} €</p>
                                    </div>
                                    {% if user %} 
                                        <a href="{{ path('product_show', { id: product.id }) }}" class="btn btn-primary">Voir</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun produit en vedette disponible.</p>
        {% endif %}
    </div>
{% endblock %}
