{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="login-container">
    <p class="h3 mb-3 font-weight-normal">Créer un compte</p>
    <hr class="separator">

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% if app.session.flashBag.has('success') %}
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if app.session.flashBag.has('verify_email_error') %}
        {% for message in app.session.flashBag.get('verify_email_error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {{ form_start(registrationForm, { 'attr': {'class': 'login-form'} }) }}
        <div class="form-group">
            {{ form_label(registrationForm.username, 'Nom utilisateur :') }}
            {{ form_widget(registrationForm.username, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.email, 'Email :') }}
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.shippingAddress, 'Adresse de livraison :') }}
            {{ form_widget(registrationForm.shippingAddress, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.plainPassword, 'Mot de passe :') }}
            {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.plainPasswordConfirm, 'Confirmer le mot de passe :') }}
            {{ form_widget(registrationForm.plainPasswordConfirm, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="btn-container">
            <button type="submit" class="btn-custom">Créer un compte</button>
        </div>
    {{ form_end(registrationForm) }}

    <hr class="separator">
    <p>Déjà inscrit ?</p>
    
    <div class="btn-container">
        <a href="{{ path('app_login') }}" class="btn-custom">Se connecter</a>
    </div>
</div>
{% endblock %}
